main.login {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;

  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif !important;
}

form h1 {
  text-align: center;
}

.logo {
  width: 90%;
  max-width: 256px;
  height: auto;
  align-self: end;
}

form {
  width: 90%;
  max-width: 400px;
}

label {
  position: relative;
  opacity: 0.5;
  margin: 0px 0px;
  padding: 8px;
  font-size: 12px;
}

form input {
  margin: 8px auto;
  height: 16px;
  background-color: rgba(0,0,0,0.25);
  border: none;
  padding: 8px;
  color: white;
  width: calc(100% - 16px);
  font-size: 16px;
  font-weight: 300;
}

form input[type="submit"] {
  display: block;
  width: calc(100% - 8px);
  text-align: center;
  margin: 4px;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 14px;
  background-color: #2196F3;
  letter-spacing: 0.09em;
  border: none;
  font-family: 'Roboto', sans-serif !important;
  color: white;
  font-weight: 500;
  padding: 16px 0;
  line-height: 1px;
  cursor: pointer;

  height: 16px;
}

form input[type="submit"]:hover {
  filter: brightness(1.1);
}